.hero {
  position: relative;
  background: linear-gradient(
    270deg,
    #1c1d20 49.68%,
    #69292d 67.73%,
    #ed3b44 100%
  );

  z-index: 0;
  padding-top: 281px;
  padding-bottom: 32px;
}

.hero-background {
  position: absolute;
  top: 0;
  left: -57px;
  width: 83%;
  height: 100%;
  overflow: hidden;
  display: flex;
  z-index: -1;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}

.background-effect {
  margin-left: -5px;
  width: 57px;
  backdrop-filter: blur(100px);
  background: linear-gradient(
    90deg,
    rgba(20, 20, 20, 0.2) 0%,
    rgba(0, 0, 0, 0.1) 16.66%,
    rgba(15, 15, 15, 0.2) 16.67%,
    rgba(0, 0, 0, 0.2) 35%,
    rgba(100, 100, 100, 0) 100%
  );
  flex-shrink: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.background-effect.in-view {
  opacity: 1;
}

.hero-wrap {
  display: flex;
  flex-direction: column;
  gap: 212px;
}
